# Custom
FluGibson/bin*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

examples/seal_h3n8/seal_seg8_pcr_protocol.csv

examples/seal_h3n8/all_primers.csv

examples/seal_h3n8/all_primers.csv

examples/seal_h3n8/all_primers.csv

examples/seal_h3n8/seal_seg1_pcr_protocol.csv

examples/seal_h3n8/seal_seg2_pcr_protocol.csv

examples/seal_h3n8/seal_seg3_pcr_protocol.csv

examples/seal_h3n8/seal_seg4_pcr_protocol.csv

examples/seal_h3n8/seal_seg7_pcr_protocol.csv

examples/seal_h3n8/seal_seg6_pcr_protocol.csv

examples/seal_h3n8/seal_seg5_pcr_protocol.csv
