{% extends "master.html" %}

{% block page_title %}FluGibson Primer Calculator{% endblock %}

{% block content %}
<form method='post' action="/compute_primers">
    <div class="form-group">
        <label for="sequence_name">Sequence Name</label><br>
        <p class="small">No spaces</p>
        <input class="form-control" name="sequence_name"></input>
    </div>
    <div class="form-group">
        <label for="sequence">Sequence</label><br>
        <p class="small">Avoid non-ATGC letters.</p>
        <textarea class="form-control" name="sequence" rows="8"></textarea>
    </div>
    <div class="form-group">
        <label for="backbone">Plasmid Backbone</label><br>
        <p class="small">Select a commonly used plasmid backbone to clone into.</p>
        </ul>
        <select name="backbone">
            <option value="pCI">pCI</option>
            <option value="pDZ-PB2">pDZ-PB2</option>
            <option value="pDZ-PB1">pDZ-PB1</option>
            <option value="pDZ-PA">pDZ-PA</option>
            <option value="pDZ-HA">pDZ-HA</option>
            <option value="pDZ-NP">pDZ-NP</option>
            <option value="pDZ-NA">pDZ-NA</option>
            <option value="pDZ-M">pDZ-M</option>
            <option value="pDZ-NS">pDZ-NS</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-default" type='submit' name='submit' value='compute_primers'>Calculate Primers</button>
    </div>
</form>            
{% endblock %}